@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AmongUs';
  src: url('./assets/fonts/AmongUs-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Medium.woff'), format('truetype');
  font-weight: medium;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Ultra';
  src: url('./assets/fonts/Ultra-Regular.woff'), format('truetype');
  font-weight: regular;
  font-style: normal;
  font-display: block;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  /* background: linear-gradient(180deg, #4cece2 0%, #e94cec 100%); */
}

.game {
  width: 590px;
  height: 590px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border: 10px solid;
  border-color: #4cece2;
}

.game img {
  width: 70px;
  height: 70px;
}
